#####################################
# ========= BACKEND (Spring + Gradle)
#####################################

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.log

#####################################
# ========= FRONTEND (Node / React / Vue)
#####################################

node_modules/
dist/
build/
.next/
.env

#####################################
# ========= AI (Python)
#####################################

__pycache__/
*.pyc
.venv/
venv/
.env

#####################################
# ========= IDE
#####################################

.idea/
.vscode/
*.iml
out/

#####################################
# ========= OS
#####################################

.DS_Store
Thumbs.db

#####################################
# ========= Docker
#####################################

docker-compose.override.yml
